# IntelliJ IDEA
.idea/
*.iml
*.ipr
out/

# VS Code
.vscode/
!.vscode/extensions.json
bin/

# Java
*.class

# Log files
*.log

# Gradle
.gradle/
build/

# JADE
APDescription.txt
MTPs-Main-Container.txt
*.stop*